.TabsSection_mesMissions{
    .css-9v9v8a-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: #fff !important;
        background: #27F5BA;
    }

    .css-1c4okmc-MuiTabs-root {
        @media screen and (min-width:1330px) {
            width: 18% !important;
        }
    }
}