@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Bold:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
body {
    margin: 0px;
    /* font-family: 'Open Sans', sans-serif; */
}
/* 
h1,
h2,
h3,
*/
h3 {
    margin: 0px;
}
.swiper {
    width: 100%;
    min-height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-prev {
    top: 33.5% !important;
    left: 2.5% !important;
}
.swiper-button-next {
    top: 34% !important;
    right: 2.5% !important;
}
.swiper-button-prev::after {
    content: url('./public/left.png') !important;
}

.swiper-button-next::after {
    content: url('./public/right.png') !important;
}

.css-yafthl-MuiSlider-markLabel {
    color: #143d66 !important;
}
.css-1gsv261 {
    border-color: #00b180 !important;
}
.css-1ps6pg7-MuiPaper-root {
    padding-top: 0px !important;
}

:root {
    --body-bg-color: white;
    --scroll-color: #143d66;
    --scroll--hover-color: white;
    --scroll-track-color: rgba(255, 255, 255, 0);
}
.small-scroll::-webkit-scrollbar-track {
    background: linear-gradient(
        to right,
        var(--scroll-track-color) 0%,
        var(--scroll-track-color) 35%,
        var(--scroll-color) 55%,
        var(--body-bg-color) 61%,
        var(--body-bg-color) 100%
    );
}

.small-scroll::-webkit-scrollbar {
    width: 10px;
}

.small-scroll::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 5px;
}
