@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Bold:wght@400;700&display=swap');

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0px;
    font-family: 'Open Sans Bold', sans-serif;
}
