@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Bold:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");
body {
  margin: 0px;
  /* font-family: 'Open Sans', sans-serif; */
}
/* 
h1,
h2,
h3,
*/
h3 {
  margin: 0px;
}
.swiper {
  width: 100%;
  min-height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev {
  top: 33.5% !important;
  left: 2.5% !important;
}
.swiper-button-next {
  top: 34% !important;
  right: 2.5% !important;
}
.swiper-button-prev::after {
  content: url("./public/left.png") !important;
}

.swiper-button-next::after {
  content: url("./public/right.png") !important;
}
